<StackLayout>
    <Page>
        <GridLayout>
            <MapView  row="0" #mapView [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [minZoom]="minZoom"
                [maxZoom]="maxZoom" [bearing]="bearing" [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding"
                (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)">
            </MapView>
            <ns-info-window-shop-map *ngIf="isInfoWindowVisible" row="1" [shop]="currentShopSelectedInfos" class="info-window"></ns-info-window-shop-map> 
        </GridLayout>
               
    </Page>
</StackLayout>